venv/
.env/
bin/
lib/
share/
pyvenv.cfg

__pycache__/
*.py[cod]

.env
*.env
config.yaml
settings.local.py

*.log
tmp/

pip-log.txt
pip-delete-this-directory.txt

*.sqlite3

.vscode/
.idea/
*.swp
*.swo

*.db
*.pot
*.pyc

.coverage
.tox/
.nox/
htmlcov/

.ipynb_checkpoints/

*.dockerignore

.DS_Store
*.orig

Requisitos.md