{% extends 'base.html' %}
{% load static %}

{% block content %}

{% verbatim %}
<script type="text/babel">
    const MILLISECONDS = 1000
    const formatBytes = (number) => number && filesize.filesize(number)
</script>
{% endverbatim %}

<div id="dashboard"></div>


{% verbatim %}
<script type="text/babel" data-plugins="transform-optional-chaining">

    const Dashboard = () => {

        let timer = React.useRef(null)

        const [data, setData] = React.useState()
        const [refreshTime, setRefreshTime] = React.useState(15)

        const getClusterData = () =>
            fetch("/api/dashboard")
                .then((response) => response.json())
                .then((data) => setData(data))


        const crontab = () => {
            getClusterData()

            if (timer.current) clearTimeout(timer.current)
            timer.current = setTimeout(() => crontab(), refreshTime * MILLISECONDS)
        }

        React.useEffect(() => {
            crontab()
            return () => clearTimeout(timer)
        }, [refreshTime])

        return (
            <div>
                {data === null
                    ? (
                        <div>Loading...</div>
                    )
                    : (
                        <div>
                            <div className="tab-content rounded-bottom">
                                <div className="row">
                                    <div className="col"></div>
                                    <div className="col-3">
                                        <div className="input-group mb-3">
                                            <label className="input-group-text" htmlFor="refresh_interval">Refresh Interval</label>
                                            <select className="form-select" id="refresh_interval" value={refreshTime} onChange={({target}) => setRefreshTime(target.value)}>
                                                <option value={5}>5s</option>
                                                <option value={10}>10s</option>
                                                <option value={15}>15s</option>
                                                <option value={30}>30s</option>
                                                <option value={60}>60s</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div className="row g-3 mb-3">
                                    <div className="col-sm-6 col-xl-4">
                                        <div className='card text-white bg-success widget' id="widget_status">
                                            <div className="card-body">
                                                <div className="text-white text-end">
                                                    <i className="fas fa-heartbeat fa-lg"></i>
                                                </div>
                                                <div className="fs-4 fw-semibold widget_data" id="status">{data?.cluster_stats.status}</div>
                                                <div>Cluster Status</div>
                                                <div className="progress progress-white progress-thin my-2">
                                                    <div className="progress-bar" role="progressbar" style={{width: "100%"}} aria-valuenow="25"
                                                        aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <div className="hstack gap-2">
                                                    <small className="text-white d-inline-block text-truncate" id="cluster_name">{data?.cluster_health.cluster_name}</small>
                                                    <small className="text-white ms-auto" id="version">{data?.cluster_stats.indices.versions?.[0]?.version}</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div className="col-sm-6 col-xl-4">
                                        <div className="card widget">
                                            <div className="card-body">
                                                <div className="text-body-secondary text-end">
                                                    <i className="fas fa-server fa-lg"> </i>
                                                </div>
                                                <div className="fs-4 fw-semibold widget_data" id="nodes_count_total">
                                                    {data?.cluster_stats.nodes.count.total}
                                                </div>
                                                <div>Nodes</div>
                                                <div className="progress progress-thin my-2">
                                                    <div className="progress-bar bg-secondary" role="progressbar" style={{width: "100%"}} aria-valuenow="25"
                                                        aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <div className="hstack gap-2">
                                                    <small className="text-body-secondary" id="nodes_count_master">
                                                        {data?.cluster_stats.nodes.count.master}
                                                    </small>
                                                    <small className="text-body-secondary ms-auto" id="nodes_count_data">
                                                        {data?.cluster_stats.nodes.count.data} Data
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div className="col-sm-6 col-xl-4">
                                        <div className="card widget">
                                            <div className="card-body">
                                                <div className="text-body-secondary text-end">
                                                    <i className="fas fa-cubes fa-lg"></i>
                                                </div>
                                                <div className="fs-4 fw-semibold widget_data" id="active_shards">
                                                    {data?.cluster_health.active_shards}
                                                </div>
                                                <div>Shards</div>
                                                <div className="progress progress-thin my-2">
                                                    <div className="progress-bar bg-secondary" role="progressbar" style={{width: "100%"}} aria-valuenow="25"
                                                        aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <div className="hstack gap-2">
                                                    <small className="text-body-secondary" id="active_primary_shards">
                                                        {data?.cluster_health.active_primary_shards} Primary
                                                    </small>
                                                    <small className="text-body-secondary ms-auto" id="active_replica_shards">
                                                        {data?.cluster_health.active_replica_shards} Replica
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div className="col-sm-6 col-xl-4">
                                        <div className="card widget">
                                            <div className="card-body">
                                                <div className="text-body-secondary text-end">
                                                    <i className="fas fa-database fa-lg"> </i>
                                                </div>
                                                <div className="fs-4 fw-semibold widget_data" id="indices_count">
                                                    {data?.cluster_stats.indices.count}
                                                </div>
                                                <div>Indices</div>
                                                <div className="progress progress-thin my-2">
                                                    <div className="progress-bar bg-secondary" role="progressbar" style={{width: "100%"}}
                                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <small className="text-body-secondary" id="docs_count">
                                                    {data?.cluster_stats.indices.docs.count} Docs
                                                </small>
                                            </div>
                                        </div>
                                    </div>

                                    <div className="col-sm-6 col-xl-4">
                                        <div className="card widget">
                                            <div className="card-body">
                                                <div className="text-body-secondary text-end">
                                                    <i className="fas fa-database fa-lg"> </i>
                                                </div>
                                                <div className="fs-4 fw-semibold widget_data" id="storage_size_in_bytes">
                                                    {formatBytes(data?.cluster_stats.indices.store.size_in_bytes)}
                                                </div>
                                                <div>Storage</div>
                                                <div className="progress progress-thin my-2">
                                                    <div className="progress-bar bg-success" id="widget_storage_usage_progressbar" role="progressbar"
                                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <small className="text-body-secondary" id="widget_storage_usage">
                                                    {Math.round(data?.cluster_stats.disk_usage_percent)} consumed
                                                </small>
                                            </div>
                                        </div>
                                    </div>

                                    <div className="col-sm-6 col-xl-4">
                                        <div className="card widget">
                                            <div className="card-body">
                                                <div className="text-body-secondary text-end">
                                                    <i className="fas fa-memory fa-lg"> </i>
                                                </div>
                                                <div className="fs-4 fw-semibold widget_data" id="heap_size_in_bytes">
                                                    {formatBytes(data?.cluster_stats.nodes.jvm.mem.heap_max_in_bytes)}
                                                </div>
                                                <div>Heap</div>
                                                <div className="progress progress-thin my-2">
                                                    <div className="progress-bar bg-success" id="widget_heap_usage_progressbar" role="progressbar"
                                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <small className="text-body-secondary" id="widget_heap_usage"></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div className="row row-cols-2">
                                    <div className="col">
                                        <div className="card mb-4">
                                            <div className="card-header"><strong>Cluster</strong><span className="small ms-1">Info</span></div>
                                            <div className="card-body">
                                                <div className="hstack gap-2">
                                                    <div className="p-2">UUID</div>
                                                    <div className="p-2 ms-auto" id="cluster_info_uuid">
                                                        {data?.cluster_stats.cluster_uuid}
                                                    </div>
                                                </div>
                                                <div className="hstack gap-2">
                                                    <div className="p-2">Cluster Name</div>
                                                    <div className="p-2 ms-auto" id="cluster_info_name">
                                                        {data?.cluster_health.cluster_name}
                                                    </div>
                                                </div>
                                                <div className="hstack gap-2">
                                                    <div className="p-2">Version</div>
                                                    <div className="p-2 ms-auto" id="cluster_info_version">
                                                        {data?.cluster_stats.indices.versions?.[0]?.version}
                                                    </div>
                                                </div>
                                                <div className="hstack gap-2">
                                                    <div className="p-2">Nodes</div>
                                                    <div className="p-2 ms-auto">
                                                        <span className="badge bg-info ms-auto" id="cluster_info_nodes">
                                                            {data?.cluster_stats.nodes.count.total}
                                                        </span>
                                                    </div>
                                                </div>
                                                <div className="hstack gap-2">
                                                    <div className="p-2">Memory Usage</div>
                                                    <div className="p-2 ms-auto">
                                                        <span className={`badge bg-${data?.cluster_stats.nodes.os.mem.used_percent >= 90 ? "danger" : "success"} ms-auto`}>
                                                            {data?.cluster_stats.nodes.os.mem.used_percent}%
                                                        </span>
                                                    </div>
                                                </div>
                                                <div className="hstack gap-2">
                                                    <div className="p-2">Heap Usage</div>
                                                    <div className="p-2 ms-auto">
                                                        <span className="badge bg-success ms-auto" id="cluster_info_heap_usage">
                                                            {data?.cluster_stats.heap_usage_percent.toFixed(2)}%
                                                        </span>
                                                    </div>
                                                </div>
                                                <div className="hstack gap-2">
                                                    <div className="p-2">Storage Usage</div>
                                                    <div className="p-2 ms-auto">
                                                        <span className="badge bg-success ms-auto" id="cluster_info_storage_usage">
                                                            {Math.round(data?.cluster_stats.disk_usage_percent)}%
                                                        </span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div className="col">
                                        <div className="card mb-4">
                                            <div className="card-header"><strong>Cluster</strong><span className="small ms-1">Health</span></div>
                                            <div className="card-body">
                                                <div className="hstack gap-2">
                                                    <div className="p-2">Status</div>
                                                    <div className="p-2 ms-auto">
                                                        <span className="badge bg-success ms-auto" id="cluster_health_status">
                                                            {data?.cluster_stats.status}
                                                        </span>
                                                    </div>
                                                </div>
                                                <div className="hstack gap-2">
                                                    <div className="p-2">Relocating Shards</div>
                                                    <div className="p-2 ms-auto">
                                                        <span className="badge badge-sm bg-success ms-auto"
                                                            id="cluster_health_relocating_shards">
                                                            {data?.cluster_health.relocating_shards}
                                                        </span>
                                                    </div>
                                                </div>
                                                <div className="hstack gap-2">
                                                    <div className="p-2">Initializing Shards</div>
                                                    <div className="p-2 ms-auto">
                                                        <span className="badge badge-sm bg-success ms-auto"
                                                            id="cluster_health_initializing_shards">
                                                            {data?.cluster_health.initializing_shards}
                                                        </span>
                                                    </div>
                                                </div>
                                                <div className="hstack gap-2">
                                                    <div className="p-2">Unassign Shards</div>
                                                    <div className="p-2 ms-auto">
                                                        <span className="badge badge-sm bg-success ms-auto"
                                                            id="cluster_health_unassigned_shards">
                                                            {data?.cluster_health.initializing_shards}
                                                        </span>
                                                    </div>
                                                </div>
                                                <div className="hstack gap-2">
                                                    <div className="p-2">Active Shards</div>
                                                    <div className="p-2 ms-auto">
                                                        <span className="badge badge-sm bg-info ms-auto" id="cluster_health_active_shards">
                                                            {data?.cluster_health.active_shards}
                                                        </span>
                                                    </div>
                                                </div>
                                                <div className="hstack gap-2">
                                                    <div className="p-2">Active Shards Percent</div>
                                                    <div className="p-2 ms-auto">
                                                        <span className="badge badge-sm bg-success ms-auto"
                                                            id="cluster_health_active_shards_percent">
                                                            {Math.round(data?.cluster_health.active_shards_percent_as_number)}%
                                                        </span>
                                                    </div>
                                                </div>
                                                <div className="hstack gap-2">
                                                    <div className="p-2">Pending Tasks</div>
                                                    <div className="p-2 ms-auto">
                                                        <span className="badge badge-sm bg-success ms-auto"
                                                            id="cluster_health_number_of_pending_tasks">
                                                            {data?.cluster_health.number_of_pending_tasks}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    )
                }
            </div>
        )
    }

    ReactDOM.createRoot(document.getElementById("dashboard")).render(<Dashboard />)
</script>
{% endverbatim %}

{% endblock %}